.comments-count {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: $accent-color;
}

.comments-count__icon {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  fill: $accent-color;
}
