.feed-video {
  @include clear-list();

  margin-bottom: -20px;
}

.feed-video__item {
  margin-bottom: 20px;
}

.feed-video__wraplink {
  display: block;
  text-decoration: none;
  color: $base-color;
  transition: $duration * 1.5;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.feed-video__imagebox {
  @include make-fit-object(270, 150);

  margin-bottom: 5px;
  transition: filter $duration * 1.5;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $accent-color url("images/play.svg") no-repeat calc(50% + 2px) 50%;
    background-size: 20px 20px;
    transition: $duration * 1.5;
  }

  .feed-video__wraplink:hover &,
  .feed-video__wraplink:focus & {
    filter: saturate(150%) brightness(105%);

    &::after{
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.feed-video__image {

}

.feed-video__title {
  margin: 0;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  font-weight: 400;
  font-size: rem(16);
  font-family: $secondary-font;
}
