.get-more-button {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: rem(16);
  font-family: inherit;
  text-decoration: none;
  line-height: normal;
  outline: none;
  color: $accent-color;
  background-color: transparent;
  user-select: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: $duration;

  &:hover,
  &:focus {
    background-color: #f5f5f5;
  }

  &:active {
    background-color: #efefef;
  }
}
