.header-search-form {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(#000000, 0.2);
  z-index: 2;
}

.header-search-form__group {
  @include make-container();

  position: relative;
}

.header-search-form__input {
  font-size: rem(22);
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.header-search-form__submit {
  position: absolute;
  top: 0;
  right: $gutter / 2;
  bottom: 0;
  display: block;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: rem(16);
  font-family: inherit;
  text-decoration: none;
  line-height: normal;
  outline: none;
  color: $accent-color;
  background-color: transparent;
  user-select: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: $duration;
  opacity: 0.8;
  color: $accent-color;

  &:hover,
  &:focus {
    background-color: #f5f5f5;
    opacity: 1;
  }

  &:active {
    background-color: #efefef;
  }
}

.header-search-form__icon {
  display: block;
  fill: currentColor;
}
