// 1. Если котент без переноса, то основная колонка растягивается за пределы допустимой ширины, фикс это исправляет

.main-layout {
  @include make-container();

  padding-top: $gutter;
  padding-bottom: $gutter;
  flex-grow: 1;
}

.main-layout__row {
  margin-bottom: $gutter;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq-min(992px) {
    display: flex;
  }
}

.main-layout__breadcrumbs {
  margin-top: -10px;
  margin-bottom: -10px;
}

.main-layout__main {
  margin-bottom: $gutter;
  min-width: 1px; // 1

  @include mq-min(992px) {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.main-layout__sidebar {
  margin-bottom: -$gutter;

  @include mq-min(992px) {
    width: 20%;
    min-width: 270px;
    margin-left: $gutter;
    flex-shrink: 0;
  }
}
