.main-nav {
  background-color: $accent-color;
}

.main-nav__inner {
  @include make-container();
}

.main-nav__list {
  @include clear-list();

  @include mq-min(992px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__item {
  flex-grow: 1;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 12px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  transition: $duration / 2;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: rgba(#000000, 0.2);
  }
}
