.news-preview-items {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.news-preview-items__item {
  margin-bottom: $gutter;

  @include mq-range(568px, 666px) {
    @include calc-column-width(2);
  }

  @include mq-min(667px) {
    @include calc-column-width(3);

    &--special {
      width: 100%;
      margin-right: 0;
    }
  }
}
