.post {
  padding: 20px;
}

.post__header {
  margin-bottom: 20px;
}

.post__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: rem(22);
  line-height: 1.45;
  font-family: $secondary-font;

  @include mq-min(667px) {
    font-size: rem(28);
  }

  @include mq-min(768px) {
    font-size: rem(34);
  }
}

.post__counters {
  @include clear-list();
}

.post__sidebar {
  box-sizing: border-box;

  @include mq-min(768px) {
    max-width: 300px;

    &--left {
      float: left;
      margin-top: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &--right {
      float: right;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
