.top-news {
  display: none;
  padding-top: $gutter;
}

.top-news__inner {
  @include make-container();

  @include mq-min(992px) {
    display: flex;
  }
}

.top-news__carousel {
  @include clear-list();

  margin-bottom: $gutter;

  @include mq-min(992px) {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.top-news__items {
  @include clear-list();

  width: 100%;
  margin-bottom: -$gutter;

  @include mq-min(992px) {
    width: auto;
    min-width: 370px;
    margin-left: $gutter;
    flex-shrink: 0;
  }
}
