.top-news-item {
  position: relative;
  background-color: #393E46;

  &--in-carousel {

  }
}

.top-news-item__wraplink {
  display: block;
  height: 100%;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
    background-image: linear-gradient(to top, #000000, transparent);
    pointer-events: none;
    transition: $duration * 2;
  }

  &:hover,
  &:focus {
    color: #ffffff;

    &::before {
      background-color: rgba(#000, 1);
    }
  }
}

.top-news-item__imagebox {
  @include make-fit-object(16, 10);

  @include mq-range(568px, 991px) {
    .top-news-item--in-carousel & {
      &::before {
        padding-top: 55%;
      }
    }
  }

  @include mq-min(667px) {
    // @include make-fit-object(775, 500);
  }

  // @include mq-min(992px) {
  //   .top-news-item--in-carousel & {
  //     height: 100%;

  //     &::before {
  //       content: none;
  //     }
  //   }
  // }
}

.top-news-item__rubric {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  padding: 4px 8px;
  font-weight: 700;
  font-size: rem(12);
  text-transform: uppercase;
  background-color: #ffffff;
  color: $base-color;
}

.top-news-item__body {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 3;

  .top-news-item--in-carousel & {
    bottom: 50px;
  }
}

.top-news-item__date {
  color: #ffffff;
  opacity: 0.9;
}

.top-news-item__title {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: rem(16);
  font-family: $secondary-font;

  span {
    padding: 1.5px 8px;
    background-color: $accent-color;
    box-decoration-break: clone;
    transition: $duration * 1;

    .top-news-item__wraplink:hover &,
    .top-news-item__wraplink:focus & {
      background-color: transparent;
    }
  }

  @include mq-min(992px) {
    font-size: rem(18);
  }

  @include mq-min(568px) {
    .top-news-item--in-carousel & {
      padding-right: 100px;
      font-size: rem(22);
    }
  }
}
